<tr width="100%">
    <td>
        <table width="100%">
            <tr>
                <td>
                    <div stlye="text-align: center;">
                        <p style="color: #ed4e51; font-size: 14px; display: block; width: 100%; text-align: center; font-family: sans-serif;">
                            Don't want to recieve this email? <a href="#"
                                                                 style="color: white; text-decoration: underline; font-family: sans-serif;">Unsubcribe</a>
                        </p>
                    </div>
                </td>
            </tr>
        </table>
    </td>
</tr>
