<tr width="100%">
    <td>
        <table width="100%">
            <tr>
                <td width="60%">
                    <img src="{{header.logoUrl}}" alt="Code Computerlove"
                         style="color: #ed4e51; font-family: sans-serif; width: 120px;margin-left:20px;"/>
                </td>
                <td width="40%">
                    <div style="padding-right:20px; text-align:right;">
                        <h1 style="font-size: 14px; color: #ed4e51; font-family: sans-serif;">{{header.topic}}</h1>
                    </div>
                    <div style="padding-right:20px; text-align:right;">
                        <p style="color: #fff; font-size: 14px; font-family: sans-serif;">
                            Room: {{header.room}}
                        </p>
                    </div>
                    <div style="padding-right:20px; text-align:right;">
                        <p style="color: #fff; font-size: 14px; font-family: sans-serif;">
                            Time: {{header.time}}
                        </p>
                    </div>
                </td>
            </tr>
        </table>
    </td>
</tr>
